@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fcfcfc;
}
@layer components {
  .app-container {
    @apply w-full px-3 sm:w-[40rem] sm:px-0 mx-auto;
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.custom-tabs button {
  color: var(--primary);
}

/* [type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
} */
div:where(.swal2-icon) {
  margin: -2.5em auto 0 !important;
  background: white;
}
.custom-danger.swal2-icon {
  background-color: #e82f3e !important;
  border-color: white !important;
}
.custom-success.swal2-icon {
  background-color: #3db754 !important;
  border-color: white !important;
}

.search-expanded {
  width: calc(100% - 60px);
}

[lang="ar"] body * {
  font-family: "Cairo", sans-serif !important;
}
.slick-dots {
  @apply top-[12rem] md:top-[17rem] lg:top-[28rem];
}

/* smooth scroll bar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 100%;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(184, 184, 184);
}
